
     div{
            transition: all 2s ease;
             margin-top: 250px;
            margin-left: 240px;
            display: inline-block;
            padding-left: 5px;
            padding-bottom: 5px;
           transform: rotate3d(2px);
           transform: scale3d(2px);
            text-align: center;
            color: rgba(243, 191, 191, 0.979);
            
            
        }
        div:hover{
            box-shadow: 60px 50px 400px rgb(194, 64, 64);
            border-radius: 30px;
            transform: scale(1.1 ,1.2, 1.0)
            translate3d(1.1,1.2, 0.5S)
        }
        button{

        
            background-color: rgb(202, 115, 115);
             border-radius: 30px;
             height : 30px;
             width : 100px;
             color : rgb(219, 227, 235);
        }
        button:hover{
             background-color: rgb(218, 46, 46);
             transition: all 1s ease; 
             }
        
        input{
            border-radius: 30px;
            height: 30px;
            padding-left: 30px;
            margin-left: 30px;
            background-color: rgb(233, 206, 206);
        }
        body{
            background-image: url("skytravel.png");
            background-repeat:repeat-x;
            background-size: cover;
        }
        